name: realtime
description: Realtime package with Agora RTC (calls) and RTM (messaging) wrappers.
version: 0.0.1
publish_to: none

environment:
  sdk: ^3.8.0
  flutter: ">=3.32.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_riverpod: ^3.0.0
  agora_rtc_engine: ^6.3.2
  agora_rtm: ^2.2.6
  core:
    path: ../core

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0
