name: core
description: Core package with theme, spacing, error types, and environment configuration.
version: 0.0.1
publish_to: none

environment:
  sdk: ^3.3.0
  flutter: ">=3.19.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_dotenv: ^5.1.0
  equatable: ^2.0.5
  dio: ^5.4.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.1
